.header__container{
    z-index: 3;
    position: fixed;
    display: flex;
    top: 8vh;
    left: 8vh;
    width: 20rem;
}

.menu-item{
    width: 1rem;
    height: 1rem;
    position: relative;
    content: "";
    display: grid;
    place-content: center;
    padding: 1rem;
    border: 1px solid var(--front-col);
    border-radius: 50px;
    margin-left: .6rem;
    /* -webkit-transition: width 0.3s;
    -moz-transition:  width 0.3s;
    -o-transition:  width 0.3s;
    -ms-transition:  width 0.3s; */
    transition: 0.3s;
    cursor: pointer;
    overflow: hidden;
}

.menu-item > div {
    opacity: 0;
} 

.menu-item:hover{
    width: 100%;
}

.menu-item:hover > div{
    opacity: 1;
}

.menu-item:nth-child(1):hover{
    color: #DB2B3C;
}
.menu-item:nth-child(2):hover{
    color: #912D44;
}
.menu-item:nth-child(3):hover{
    color: #BA4F70;
}
.menu-item:nth-child(4):hover{
    color:#70496B;
}

.active.menu-item{
    border-color: var(--front-hl);
}

@media only screen and (max-width: 768px) {
    .header__container{
        transition: width 0.3s ease;
    }
}