.header__container {
    z-index: 3;
    position: fixed;
    top: 10vh;
}

.header__menu{
    position: relative;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.menu-item::before{
    position: absolute;
    content: "";
    padding: 15px;
    border: 2px solid var(--front-col);
    border-radius: 20px;
    visibility: visible;
}

.menu-item:hover::before{
    visibility: hidden;
}

.menu-item{
    width: 30px;
    position: relative;
    color: var(--front-col);
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;
    display: grid;
    place-content: center;
    margin-bottom: 5px;
    visibility: hidden;
    transition: width 0.5s ease;
}

.menu-item:hover{
    border: 2px solid var(--front-col);
    width: 100%;
    visibility: visible;
    transition: width 0.3s ease;
    overflow: hidden;
}

.menu-item:nth-child(1):hover{
    color: #DB2B3C;
}
.menu-item:nth-child(2):hover{
    color: #912D44;
}
.menu-item:nth-child(3):hover{
    color: #BA4F70;
}
.menu-item:nth-child(4):hover{
    color:#70496B;
}


.active.menu-item::before{
    border: 2px solid var(--front-hl);
}

@media only screen and (max-width: 768px) {
    .header__menu{
        flex-direction: row;
        transition: width 0.3s ease;
    }
}
